<!-- <div class="container-fluid">
<div *ngIf="!name; else forminfo">
  <form [formGroup]= "rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="">
      <div class="form-group">
        <h1>TITLE</h1>
        <label>Name
          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
          {{ titleAlert }}
        </div>
      <div class="form-group">
        <label>Description
          <textarea type="text" formControlName="description"></textarea>
        </label>
      </div>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
          Length between 30-500 characters
        </div>
        <!-- <label for="validate">Minimum of 3 characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On
        <input type="submit" class="btn btn-warning" value="SUBMIT FORM" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div></div> -->

<div class="container">
    <table class="table table-striped">
       <tbody>
         <tr>
            <h3 class="form-header">BEGINNER-LEVEL 1:</h3>
         </tr>
          <tr>
             <td colspan="1">
                <form class="well form-horizontal" [formGroup]= "rForm" (ngSubmit)="addPost(rForm.value)">
                   <fieldset>
                      <div class="form-group">
                         <label class="col-md-4 control-label">First Name</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="firstName" placeholder="First Name" class="form-control" formControlName="name" value="" type="text"></div>
                            <div class="fieldAlert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                                {{ titleAlert }}
                            </div>
                         </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-4 control-label">Middle Name</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">Last Name</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">Customer ID</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">DATE OF BIRTH</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">Gender</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">VOTER ID</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">Marital Status</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">Father's Name</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">Mother's Maiden Name</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="col-md-4 control-label">Spouse Name</label>
                          <div class="col-md-8 inputGroupContainer">
                             <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullName" name="fullName" placeholder="Full Name" class="form-control"  value="" type="text"></div>
                          </div>
                       </div>
                      <!-- <div class="form-group">
                         <label class="col-md-4 control-label">Address Line 1</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="addressLine1" placeholder="Address Line 1" class="form-control"  value="" type="text"></div>
                         </div>
                      </div> -->
                      <!-- <hr class="line"> -->
                      <input type="reset" class="btn btn-warning btn-block form-submit-button">
                      <!-- <div class="form-group">
                         <label class="col-md-4 control-label">Address Line 2</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine2" name="addressLine2" placeholder="Address Line 2" class="form-control"  value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group">
                         <label class="col-md-4 control-label">City</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="city" name="city" placeholder="City" class="form-control"  value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group">
                         <label class="col-md-4 control-label">State/Province/Region</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="state" name="state" placeholder="State/Province/Region" class="form-control"  value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group">
                         <label class="col-md-4 control-label">Postal Code/ZIP</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="postcode" name="postcode" placeholder="Postal Code/ZIP" class="form-control"  value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group">
                         <label class="col-md-4 control-label">Country</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                               <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                               <select class="selectpicker form-control">
                                  <option>A really long option to push the menu over the edget</option>
                               </select>
                            </div>
                         </div>
                      </div>
                      <div class="form-group">
                         <label class="col-md-4 control-label">Email</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email" placeholder="Email" class="form-control"  value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group">
                         <label class="col-md-4 control-label">Phone Number</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span><input id="phoneNumber" name="phoneNumber" placeholder="Phone Number" class="form-control"  value="" type="text"></div>
                         </div>
                      </div> -->
                   </fieldset>
                </form>
             </td>
          </tr>
          <tr>
              <!-- <hr class="line"> -->
              <input type="submit" class="btn btn-success btn-block form-submit-button" value="SUBMIT FORM" [disabled]="!rForm.valid">
          </tr>
       </tbody>
    </table>
 </div>

<ng-template #forminfo>
  <div class="form-container">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
  </div>
</ng-template>