<!--The content below is only a placeholder and can be replaced.-->


<!-- TOP NAVIGATION BAR CODE FOR LEVELS AND AMOGH FORMS HEADER-->
<nav class="navbar navbar-default " style="height: 100%">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <!-- AMOGH LOGO TO BE Added Here -->
            <!-- <img src="../assets/images/Amogh_Trust_Logo.jpg" cmg-responsive"> -->
          </a>
          <span class="navbar-brand">AMOGH FORMS</span>
      </div>
      <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">
            Link <span class="sr-only">(current)</span>
          </a></li> -->
          <li><a routerLink="/basicForm">Level 0</a></li>
          <li><a routerLink="/formbeginner0">Level 1</a></li>
          <li><a routerLink="/formbeginner1">Level 2</a></li>
          <!-- <li><a href="#">Level 3</a></li> -->
          <!-- <li class="dropdown" dropdown>
              <a dropdownToggle role="button">
                BEGINNER <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu"> 
                  <li><a href="#">Level 0</a></li>
                  <li><a href="#">Level 1</a></li>
                  <li role="separator" class="divider"></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Check Medium</a></li>
              </ul>
          </li> -->
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<hr class="line">

