<div class="container" *ngIf="!formSubmitted else successInfo">
  <table class="table table-striped">
     <tbody>
        <tr>
           <h3 class="form-header">TRAINING MODULE: LEVEL 0</h3>
        </tr>
        <tr>
           <td colspan="1">
              <form class="well form-horizontal" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" #form='ngForm'>
                 <fieldset>
                    <div class="form-group">
                       <label class="col-md-3 control-label">NAME :</label>
                       <div class="col-md-7 inputGroupContainer">
                          <div class="input-group">
                             <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                             </span>
                             <input id="name" placeholder="Enter Full Name" class="form-control" formControlName="name"
                                value="" type="text">
                          </div>
                       </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">FATHER'S NAME :</label>
                      <div class="col-md-7 inputGroupContainer">
                         <div class="input-group"><span class="input-group-addon"><i
                                  class="glyphicon glyphicon-user"></i></span><input id="fatherName"
                               placeholder="Father's Name" class="form-control" formControlName="fatherName" value=""
                               type="text">
                            </div>
                      </div>
                   </div>
                   <div class="form-group">
                      <label class="col-md-3 control-label">MOTHER'S NAME :</label>
                      <div class="col-md-7 inputGroupContainer">
                         <div class="input-group">
                            <span class="input-group-addon">
                               <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input id="motherName" placeholder="Mother's Maiden Name" class="form-control"
                               formControlName="motherName" value="" type="text">
                         </div>
                      </div>
                   </div>
                    <div class="form-group">
                       <label class="col-md-3 control-label">DATE OF BIRTH :</label>
                       <div class="col-md-2 inputGroupContainer">
                          <div class="input-group">
                             <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                             </span>
                             <input type="text" id="day" formControlName="day" placeholder="Enter Day..."
                                class="form-control" value="" />
                          </div>
                       </div>
                       <div class="col-md-2 inputGroupContainer">
                          <div class="input-group">
                             <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                             </span>
                             <input type="text" id="month" formControlName="month" placeholder="Enter Month..."
                                class="form-control" value="" />
                          </div>
                       </div>
                       <div class="col-md-2 inputGroupContainer">
                          <div class="input-group">
                             <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                             </span>
                             <input type="text" id="year" formControlName="year" placeholder="Enter Year..."
                                class="form-control" value="" />
                          </div>
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-md-3 control-label">GENDER :</label>
                       <div class="col-md-2 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon formRadio">
                                <input id="Male" value="Male" style="cursor: pointer" type="radio"
                                   formControlName="gender" checked>Male
                             </span>
                          </div>
                       </div>
                       <div class="col-md-2 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon formRadio">
                                <input id="Female" value="Female" style="cursor: pointer" type="radio"
                                   formControlName="gender">Female
                             </span>
                          </div>
                       </div>
                       <div class="col-md-2 inputGroupContainer">
                          <div class="input-group"><span class="input-group-addon formRadio">
                                <input id="Other" value="Other" style="cursor: pointer" type="radio"
                                   formControlName="gender">Other
                             </span>
                          </div>
                       </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label">MOBILE NUMBER :</label>
                      <div class="col-md-7 inputGroupContainer">
                         <div class="input-group">
                            <span class="input-group-addon">
                               <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input id="mobileNumber" placeholder="Enter Mobile Number" class="form-control" formControlName="mobileNumber"
                               value="" type="text">
                         </div>
                      </div>
                   </div>
                    <input type="reset" class="btn btn-info btn-block form-submit-button">
                 </fieldset>
                 <hr class="line">
                 <input type="submit" class="btn btn-success btn-block form-submit-button" value="SUBMIT FORM"
                    [disabled]="!rForm.valid">
              </form>
           </td>
        </tr>
     </tbody>
  </table>
</div>

<ng-template #successInfo>
  <div class="container">
     <table class="table table-striped">
        <tbody>
           <tr>
              <span style="color:rgb(94, 167, 22)">
                 <h3>Your response has been recorded.</h3>
                 <h4>Thank You.</h4>
              </span>
           </tr>
           <tr>
              <hr class="line">
           </tr>
           <tr>
              <button class="btn btn-default" (click)="displayForm()">
                 <i class="glyphicon glyphicon-hand-left"></i>
                 <b> Go Back</b>
              </button>
           </tr>
        </tbody>
     </table>
  </div>
</ng-template>